@use '../../styles/base';

.card {
	display: flex;
	flex-direction: column;
	background: base.$color-secondary-light;
	color: base.$color-secondary-dark;
	margin: 0.5rem 0;
	padding: 1.25rem;
	border: 2px solid base.$color-secondary-dark;
	border-radius: 5px;
	box-shadow: 2px 2px 0 base.$color-secondary-dark;
	&:hover {
		background: base.$color-primary-light;
	}
}

.cardHorizontal {
	flex-direction: row;
	align-items: center;
	margin-top: 1rem;
	padding: 0.5rem;
}
