@use '../../styles/base';

.ButtonPrimary {
	a {
		background-color: base.$color-secondary-light;
		color: base.$color-primary-dark;
		border-color: base.$color-secondary-dark;
		display: inline-block;
		text-align: center;
		align-items: flex-start;
		margin: 0em;
		padding: 1px 6px;
		border-width: 2px;
		border-style: outset;
		border-image: initial;
		text-decoration: none;
	}
	button {
		background-color: base.$color-secondary-light;
		color: base.$color-primary-dark;
		border-color: base.$color-secondary-dark;
		font-family: base.$font-theme;
		font-size: base.$font-size;
	}
}
