@use '../../styles/base';

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideThisIn {
	from {
		transform: translateX(-10%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes shrink {
	from {
		width: 95%;
	}
	to {
		width: 90%;
	}
}

// .nav {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   margin: 0;
//   @media(max-width: 36rem) {
//       margin-left: auto;
//   }

//   ul {
//     display: flex;
//     flex-direction: row;
//     list-style: none;
//     margin: 0;
//     padding: 0;
//     @media(max-width: 36rem) {
//       display: none;
//     }
//   }

//   li {
//     display: inline-block;
//   }

//   a {
//     display: inline-block;
//     text-decoration: none;
//     padding: 0.5rem 1rem;
//     &:hover {
//       background: base.$color-secondary-light;
//     }
//   }

//   .mobileBar {
//     @media(max-width: 36rem) {
//       display: flex;
//     }
//     display: none;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     padding: 0.5rem 1rem;

//     &:hover {
//       background: base.$color-secondary-light;
//     }

//     span {
//       display: block;
//       height: 0.15rem;
//       margin: 0.25rem;
//       width: 2rem;
//       background: base.$color-secondary-dark;
//     }
//   }
// }

//   img {
//     width: 2.5rem;
//     height: 2.5rem;
//     border-radius: 9999px;
//   }
// }

// TODO: add keyframes to base and import

.nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	opacity: 0.9;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: base.$color-secondary-dark;
	width: 100%;
	color: base.$color-text-light;
}

// TODO: add class to toggle filter to blur 2px : null
// on menuOpen of Menu component

.homeIconWrapper {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: 0.5rem;
	padding-top: 0.5rem;
	a {
		color: base.$color-text-light;
	}
}

.menuContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	&.menuContainerOpen {
		height: 100%;
	}
	width: 100vw;
	display: flex;
	flex-direction: column;
	background: base.$color-secondary-dark;
	opacity: 0.95;
	color: base.$color-text-light;
	transition: height 0.3s ease;
	z-index: 2;
}

.menuList {
	padding-top: 3rem;
}

.menuItemContainer {
	opacity: 0;
	&.menuItemContainerOpen {
		// animation: 3s appear forwards;
		animation-name: appear;
		animation-duration: 3s;
		animation-fill-mode: forwards;
		animation-delay: 0.2s;
		&.menuItemContainerOpen[delay='0'] {
			animation-delay: 0s;
		}
		&.menuItemContainerOpen[delay='1'] {
			animation-delay: 0.1s;
		}
		&.menuItemContainerOpen[delay='2'] {
			animation-delay: 0.2s;
		}
		&.menuItemContainerOpen[delay='3'] {
			animation-delay: 0.3s;
		}
	}

	// TODO: create class to conditionally
	// add nth-element based animation-delay
}

.menuItem {
	padding: 1rem 0;
	margin: 0 5%;
	cursor: pointer;
	color: base.$color-text-light;
	transition: color 0.2s ease-in-out;
	animation-name: slideThisIn;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	// animation-delay: 0.2s;
	&.menuItem[delay='0'] {
		animation-delay: 0s;
	}
	&.menuItem[delay='1'] {
		animation-delay: 0.1s;
	}
	&.menuItem[delay='2'] {
		animation-delay: 0.2s;
	}
	&.menuItem[delay='3'] {
		animation-delay: 0.3s;
	}

	a {
		display: block;
		color: inherit;
		&:hover {
			text-decoration: none;
		}
	}
	// TODO: create class to conditionally
	// add nth-element based animation-delay
	&:hover {
		color: base.$color-text-dark;
	}
}

.menuItemLine {
	width: 90%;
	height: 1px;
	background: base.$color-text-dark;
	margin: 0 auto;
	animation-name: shrink;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	&.menuItemLine[delay='0'] {
		animation-delay: 0s;
	}
	&.menuItemLine[delay='1'] {
		animation-delay: 0.1s;
	}
	&.menuItemLine[delay='2'] {
		animation-delay: 0.2s;
	}
	&.menuItemLine[delay='3'] {
		animation-delay: 0.3s;
	}
	// TODO: create class to conditionally
	// add nth-element based animation-delay
}

.menuButtonContainer {
	height: 32px;
	width: 32px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 4px;
	margin-left: 0.5rem;
	margin-right: 0;
}

.menuButtonLine {
	height: 2px;
	width: 20px;
	background: base.$color-text-light;
	transition: all 0.2s ease;
}

.menuButtonLineTop {
	transform: none;
	transform-origin: top left;
	&.menuButtonLineTopOpen {
		transform: rotate(45deg);
	}
}

.menuButtonLineMiddle {
	opacity: 1;
	transform: none;
	margin-top: 0.2rem;
	&.menuButtonLineMiddleOpen {
		opacity: 0;
		transform: translateX(-16px);
	}
}

.menuButtonLineBottom {
	transform: none;
	transform-origin: top left;
	margin-top: 0.2rem;
	&.menuButtonLineBottomOpen {
		transform: translateX(-1px) rotate(-45deg);
	}
}
