$font-theme: 'Anton', sans-serif;
$font-size: 1.125rem;
$line-height: 1.6;
$letter-spacing: 0.05rem;

$color-primary: #aa3939;
$color-primary-light: #ffaaaa;
$color-primary-dark: #550000;

$color-secondary: #d46a6a;
$color-secondary-light: #ffcccc;
$color-secondary-dark: #801515;

$color-text-dark: #000000;
$color-text-light: #ffffff;
