$font-theme: 'Newsreader', serif;
$font-size: 1.125rem;
$line-height: 1.6;

$color-primary: #f8f4e3;
$color-primary-light: #ffffff;
$color-primary-dark: #c5c1b1;

$color-secondary: #a1a391;
$color-secondary-light: #d2d4c1;
$color-secondary-dark: #727463;

$color-text-dark: #000000;
$color-text-light: #ffffff;