.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.spanUnderline {
  display: inline-block;
  line-height: 1;
  background-image:
  linear-gradient(
    to top, #c09269 44%, #c09269 44%, #c09269 44%, #c09269 44%, transparent 54%
  )
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.dateText {
  color: #999;
  font-size: 0.9rem;
}

.authorInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.authorImage {
  width: 2rem;
  height: 2rem;
}

.authorText {
  font-weight: bold;
  margin-right: 1rem;
}